.navbar
  .navbar-inner
    a.brand(href="/") Salsa
    ul.nav
      if user
        li
          a(href="/dashboard") Dashboard
      else
        li
          a(href="/signup") Sign Up
        li
          a(href="/signin") Sign In
