@import "../bootstrap/bootstrap.less";
@import "../bootstrap/responsive.less";

.icon-header {
  font-size: 128px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  display: block;
}

.signup {
  padding-top: 20px;
}
