extends layouts/default

block main
  .hero-unit
    h1 Empower your clients
    p Let them make the changes you dread
block content
    .row
      .span4 Turn any page into a WYSIWYG editor
      .span4 Let your client save their text changes to their server
      .span4 No more hassle for you!
