!!! 5
html#home.no-js(lang='en-us')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge;chrome=1')
    meta(charset='utf-8')
    title Motorcycle University
    meta(name='keywords', content='Learn how to ride a motorcycle, instruction, class, school, trackdays, sportbike, cruiser, scooter, touring bike, Sport touring,standard, nakes sportbike, supermotard, dual sport, supermoto, MX, motocross, enduro, street tracker, rat bike, chopper, bobber, moped, electric, can-am spyder, sidecar, honda, yamaha, suzuki, kawasaki, buell, harley-davidson, victory, triumph, BMW, vespa, sym, hyosung, aprilia, benelli, ktm, aermacchi, ironhore, atk, bimota, bsa, brammo, zero, boss hoss, cagiva, derbi, dnepr, ural, husqvarna, indian, laverda, malaguti, maico, moto morini, munch, mz, mv agusta, Norton, Royal Enfield, vincent, zundapp, knee, leathers, gear, clothing, jacket, gloves, boots, puck, kneepuck, lean angle, cornering, throttle, racing, race, racetrack, faster, instruction, instructor, better, san francisco, alameda, albany, antioch, atherton, belmont, benicia, berkeley, brisbane, burlingame, colma, concord, corte madera,cupertino, daly city, danville, dublin, emeryville, foster city, fremont, half moon bay, hayward, hllsborough, livermore, los altos, los altos hills, los gatos, martinez, menlo park, milpitas, moraga, mountain view, morgan hill, newark, ovato, oakland, Pacifica, Pleasanton, Redwod City, Richmond, San Bruno, San Carlos, San Jose, San Leandro, San Mateo, San Pablo, San Ramon, San Rafael, Santa Clara, Saratoga,Sonoma, South San Francisco, Sunnyvale, Tiburon, Union City, Vallejo, Walnut Creek, Woodside, V-twin, v twin, boxer, inline, aerostich, alpine stars, helimot, icon, motorsports, riding, rider, ride, bell helmets, scorpion, joe rocket, fly racing, michelin, shoei, arai, Avon, Arlen ness, ron simms, bridgestone, continental, cardo systems, condor, dyno jet, fox shox, galfer,  motorcycle licence, permit, endorsement, skills, K&N, bagger, MotoU, Moto U, Scooter Importer, Old County Deli, Lanesplitter Pizza and Pub, Berkeley Honda Yamaha, Berkeley Performance Motorcycle, 9 Burger, Mini Motors, Ken Armann British Motorcycles, Horsepower Express, Hamburger Ranch, Ace Motorsports, Contra Costa Powersports, American Custom Motorcycle Parts, Dianese D Store, Michael"s Harley Davidson, Mission Motorcycles, 1Up Motorsports, Arlen Ness, Aerostich, Motorcycle Parts of El Sobrante, Addiction Motors, LLC, Fantasy Junction, Hot Italian, Cycle Gear , Ben"s Motorcycle Works, Iron Horse Motor Company, Fastline Motorcycles, Fremont Cycle Salvage, Fremont Honda-Kawasaki, Wyotech, BMW of Fresno Motorcycles, Simms Motorcycles, Hannan"s Machine Shop, Cycle Salvage – Hayward, Cycle Gear, RC Cycles, Adventure Designs,Cycle Works, California Sport Touring, Corbin,Tri-Valley Moto, California Speed Sports, Motowrx, HK Cycles, First Street Custom Cycle, Unlimited Motorsports, Livermore Harley Davidson, The Junction Bar and Grille, Motomart at Carnegie, Tech Shop, Bob"s Country Corner, Quality Motorcycle Repair, NorCal Cycles, Nichols Manufacturing, South Bay Cycles, DH Cycles Cycle Specialties BMW, Wind Vest, Motorcycle Products, House of Thunder, CalMoto, J+M Motorsports LLC, California Motorcycle Adventures, Moto Haven MC Rentals, Custom Design Studios, CPT Cycles, Hayasa Motorbikes, Oakland Oakland Color, Grand Lake Scooters and Pocket Bikes, Rockridge Two Wheels, Oakland Harley Davidson, Precision Machining, The S Shop, Harold"s Auto Upholstery, Pengrove Motorcycle Company, P & M Motorcycles, Cycle West, G&B Cycle Pro, Sportbike Dynamics, Moto Italia, Engine Dynamics LLC, Nor Cal MasterCraft, Motostrano, Moto Lab, Hammerhead Designs, Speedy"s Custom Cycles, Peninsula Motorsports, Mammoth Motorsports, Leo Vince , A&S BMW, Scooter City , Cleveland Motorcycles, Scooters, Good Times Motorsports, Motorcycle Madness, Grumpy"s Motorcycles, A&A Racing Services, Catalyst Reaction Suspension, Motion Pro, The Serrano Hotel, Stompers Boots, 415 Clothing, California Choppers, Eagle Rider, Desmoto Sport, SF Scooter Centre, Scooter Specialists, Scuderia, West, Munroe Motors, Dainese D-Store, Mr. Scooter, Motohaus, MC Storage, 81 14th St, SF Moto, Tech Shop, Zeitgeist Bar,Tokyo Moto, Street Rack - Red"s Java House, Dubbelju Motorcycle Rentals / Storage, BMW San Francisco, O"Hanlon"s Motorcycle Repair, KC Engineering , Chrome, City Cycle Werkes, Vespa SF, San Francisco Cycle, Quetzal Café, Charlie"s Place, Werkstatt, Bavarian Cycle Works, Pi Bar, Street Rack - CCSF Phelan St, Johnson Leathers, MotoJava, Key Kraft, Dudley Perkins, Harley-Davidson Buell at Fisherman"s Wharf, San Francisco Vintage Cycle, Recommended Service, San Jose Harley-Davidson, Sporttech Cycles, Superbike Performance Center, Road Rider, San Jose Yamaha, Helimot Leather Works, Ram Products, Moto Gio,Advanced Cycle Service, Nor Cal Customs, R E Machinist, GP Sports, Raber"s Parts Mart, San Jose BMW, Just Leather, Spec-1, Santa Clara Cycle Salvage, Vespa San Mateo, Bob Reed"s Service Station, Doug"s Motorcycle Services, Honda / Suzuki of San Mateo, Mojo Town, Marin Speed Shop, Top Shelf Motorcycles, Marin Moto Works, Brown, Koro & Romag LLP, GP Sports, Evolution Suspension, K&L Supply, Zoom Cycle Accessories, Moto Amore, Quality Machine Shop, Tri-Quest, Double R Cycles, Moore & Sons Motorcycles, Cycle Revolution, Moto Italiano, Cycle Imagery, Santa Cruz Motorcycle Service, G&B Cycle Pro , The Motorcycle Shop, Bryce Rocket Cycles Motorcycle Salvage, Santa Rosa Powersports,Santa Rosa Vee Twin, Inc, Northbay Motorsport & Marine, S & J Motorcycle Repair, The Beemer Shop, Scotts Valley Motorcycle Center, Monterey Peninsula Power Sports, Infineon Raceway, We All Ride Moto Gear, il Motorino, Bill"s BMW, Cycle Shack, Inc. , Dudley Perkins Harley Davidson, Moto Shop, Darby Dan"s Sandwiches, BattleScooter Corporation, Zooni Leathers, Peninsula Honda Ducati,Santa Clara Cycle Accessories, Tomales Deli + Café, Mach 1 Motorsports, Powersports Vallejo, Ride-On-Motorcycles, Diablo Kawasaki-BMW, McGuire Harley-Davidson, Stoke Motorsports, Inc., Santa Rosa BMW and Triumph, RKA Luggage, Alice"s Restaurant, Motorcycle University ')
    meta(name='description', content='Motorcycle University teaches people how to ride motorcycles as beginners and also offers intermediate, advanced, and DIY mechanical courses.  Motorcycling demands attention and skill, we help people improve their skill sets regardless of their level of experience.')
    // <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(href='./test2_files/general.css', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(type='text/javascript', src='./test2_files/jquery.galleriffic.js')
    script(type='text/javascript', src='./test2_files/gallery.js')
    script(type='text/javascript', src='./test2_files/fixed.js')
    script(src='./test2_files/totop.js')
    script(type='text/javascript', src='./test2_files/jquery.ui.touch-punch.min.js')
    script(type='text/javascript', src='./test2_files/facescroll.js')
      // ***********************************************
      // * FaceScroll custom scrollbar (c) Dynamic Drive (www.dynamicdrive.com)
      // * This notice MUST stay intact for legal use
      // * Visit http://www.dynamicdrive.com/ for this script and 100s more.
      // ***********************************************/
    link(rel='stylesheet', type='text/css', href='./test2_files/style.css')
    script(type='text/javascript')
      jQuery(function(){ // on page DOM load
      $('#demo1').alternateScroll();
      $('#demo2').alternateScroll({ 'vertical-bar-class': 'styled-v-bar', 'hide-bars': false });
      })
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41041732-1', 'motorcycleuniversity.net');
      ga('send', 'pageview');
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
  body#beginner
    div
      #top
        .nav
          img.bg(src='./test2_files/bg_nav.png')
          .logo
            a(href='../home.php')
              img(src='./test2_files/logo_motou.png')
        .last
          h1 San Francisco Bay Area
          p#menu
            a#about(name='about', href='../info/aboutus.php') About
            | |
            a#contact(name='contact', href='../info/contactus.php') Contact
          form(method='get', action='http://www.google.com/search')
            input.searchinput(type='text', value='Search Moto U', name='q', size='25', maxlength='255', onfocus='if (this.value=="Search Moto U"){this.value=""; this.style.cssText="color:#333;font-family:museo500, sans-serif; font-size: 13px; font-style:normal;"};', onblur='if (this.value==""){this.value="Search Moto U"; this.style.cssText="color:#777; font-family: museosans300italic, sans-serif;"};')
            input.searchButton(type='submit', value='')
            input(type='hidden', name='sitesearch', value='motorcycleuniversity.net')
      ul#menumain
        li
          a#learntoride.drop(href='../learntoride/beginner.php') Learn to Ride
        li
          a#freeclasses.drop(href='../freeclasses/free.php') Knowledge
        li
          a#advancedriding.drop(href='../advanced/totalcontrol.php') Advanced Riding
        li
          a#trackraceskills.drop(href='../track/trackday.php') Track / Race Skills
        li
          a#fixyourownmoto.drop(href='../motofix/fix.php') Fix your own moto
        li
          a#classifieds.drop(href='../classifieds/') Classifieds
      #leftnav.buttonpadtop
        a.signup(href='https://server22.securedata-trans.com/ap/motorcycleuniversity/index.php?page=10')
          span(style='color:#000;') Get Started &
          br
          span.sizebutton Sign Up
        br
        a.refund(href='../info/moto-u-refund.php')
          span(style='color:#000;') Read Our
          br
          span.refundsize Refund Policy
        br
        a.gift(href='https://server22.securedata-trans.com/ap/motorcycleuniversity/index.php?page=10')
          span(style='color:#000;') Buy A
          br
          span.refundsize Gift Certificate
        br
        ul#leftnavlist.learning
          li#beginning.basic.smaller
            a.beginleft(href='../learntoride/firstriders.php') First Time Riders
            br
            span.subtitle
              i
                b I don't know how
                | to
                br
                | start/stop/shift/turn:
            br
            br
            br
            a.beginnavtop(href='../learntoride/firstriders.php#basic') 101 Basic Skills
            br
            br
            a(href='../learntoride/firstriders.php#stability') 102 Stability & Learning
            br
            br
            a.separate(href='../learntoride/firstriders.php#combination') 103 Combination Skills
          li#returning.basic.smaller
            a.beginleft(href='../learntoride/returningriders.php') Returning Riders
            br
            span.subtitle
              i
                b I do know how
                | to
                br
                | start/stop/shift/turn:
            br
            br
            br
            a.beginnavtop(href='../learntoride/returningriders.php#continue') 104 Continue2Ride
            br
            br
            a(href='../learntoride/returningriders.php#street') 106 Street Legal Practice
            br
            br
            a(href='../learntoride/returningriders.php#oneone') 107 One-on-One
            br
            br
            a(href='../learntoride/returningriders.php#sf')
              | 117 Motorcycling in
              br
              | San Francisco
            br
            br
            a(href='../learntoride/returningriders.php#oakland')
              | 118 Motorcycling in
              br
              | Oakland
            br
            br
          li
            a.faq.beginleft(href='../info/faq.php') FAQ
            br
            a.beginleft(href='https://server22.securedata-trans.com/ap/motorcycleuniversity/index.php?page=10') SCHEDULE
      #mainbody
        #splash
          img(src='./test2_files/img_splash.png')
          br
          br
        .tier.narrow
          h1 LEARN TO RIDE
          p.bodytext
            | At Moto-U, we educate prospective and returning motorcyclists so they can make the right choices, choices which may lead them to one day becoming safe and responsible riders.
            br
            br
            | These choices may also lead them to not riding on the street, and we think that's okay, too.
            br
            br
            | We've determined that the best way to train new riders is to be sure their learning time is safe, fun, enjoyable, affordable, comfortable, and most importantly, not rushed. That's why we spend twice as long teaching basic motorcycle operation as many other schools. That lets you learn at your own pace in a safe, controlled environment.  These classes cover your skills set – how to start, stop, turn, and operate a basic, small motorcycle.
            br
            br
            strong BEGINNER MODULE
            | :  Classes 101 - 103 are three, three-hour sessions using our 125cc (beginner) motorcycles, helmets, and gloves.
            br
            | If you're struggling and need more practice, you can take the class again at no charge if the instructor recommends it. -That means you only pay for the portion of training you can use!
            br
            br
            strong EXPERIENCED BEGINNER MODULE: 
            | Class 104 is a 3-hour overview session that combines all skills taught in 101-103 and introduces skills needed for riding on the street.
            br
            | Use our motorcycle, helmet, and gloves on a closed, off-street range.
          p.bodytext.lastpara
            img(src='./test2_files/classpath2.png')
            br
            br
            br
        .push
      .footer
        | &copy Copyright 2013 Motorcycle University |
        a(href='../info/privacy.php') Privacy Policy
        br
        | Website by:
        a(href='http://www.aleksdesign.com/', target='_blank') Aleks Design
        a(id='salsa', class='salsa') Admin
        script(src='http://localhost:3000/picante?organization_id=51b80173379881678a000004')
