html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Google
    style
      .google {
        display: inline;
        font-size: 86px; 
        font-weight: normal;
      }
      .g1,.g2 {
        color: #276BDE;
      }
      .o1, .e {
        color: #F90101;
      }
      .o2 {
        color: #F2B50F;
      }
      .l {
      color: #00933B;
      }
      <style type="text/css">@media print { #feedlyMiniIcon { display: none; } }
  body(bgcolor='#ffffff', text='#000000', link='#0000cc', vlink='551a8b', alink='#ff0000', onload='setfocus()')
    center 
      h1.google 
        span.g1 G
        span.o1 o
        span.o2 o
        span.g2 g
        span.l l
        span.e e
      br
      br
      form(action='http://web.archive.org/web/20010119175000/http://www.google.com/search', method='get', name='f')
        table(cellspacing='0', cellpadding='0')
          tbody
            tr(align='center', valign='baseline')
              td(width='75')  
              td(nowrap='')
                font(face='arial,sans-serif', size='-1') Search 1,326,920,000 web pages
              td
            tr(align='center', valign='middle')
              td(width='75')  
              td(align='center')
                input(type='text', value='', framewidth='4', name='q', size='55', maxlength='256')
                br
                input(name='btnG', type='submit', value='Google Search')
                input(name='btnI', type='submit', value='I\'m Feeling Lucky')
              td(nowrap='', valign='top', align='left')
                font(face='arial,sans-serif', size='-2')
                  a(href='http://web.archive.org/web/20010119175000/http://www.google.com/advanced_search') Advanced Search
                  br
                  a(href='http://web.archive.org/web/20010119175000/http://www.google.com/preferences') Preferences
      br
      font(size='-1')
        a(href='http://web.archive.org/web/20010119175000/http://directory.google.com/')
          font(color='#006600')
            b Google Web Directory
        br
        font(color='#006600')
          i the web organized by topic
      br
      br
      br
      br
      font(size='-1')
        a(href='http://web.archive.org/web/20010119175000/http://www.google.com/jobs/') Cool Jobs
        | -
        a(href='http://web.archive.org/web/20010119175000/http://www.google.com/services/') Add Google to Your Site
        | -
        a(href='http://web.archive.org/web/20010119175000/http://www.google.com/ads/') Advertise with Us
        | -
        a(href='http://web.archive.org/web/20010119175000/http://www.google.com/language.html') Google in Your Language
        | -
        a(href='http://web.archive.org/web/20010119175000/http://www.google.com/about.html')
          b All About Google
      p
        font(size='-2') ©2001 Google
    //
           FILE ARCHIVED ON 17:50:00 Jan 19, 2001 AND RETRIEVED FROM THE
           INTERNET ARCHIVE ON 1:59:12 Jun 19, 2013.
           JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
           ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
           SECTION 108(a)(3)).

